
.lightNav{
    --backgroundColor:#FFFFFF;
    --boxShadow:rgba(255, 255, 255, 1);
    --mainOrange:#F18825;
    --textColor:rgba(255, 255, 255, 1);
    --cartColor:rgba(25,25,25,1);
    --searchBackGround:#D9D9D9;
    --searchText:#696363;
    --searchInput:#585555;
    --locationBackGround:#B7B3AC;

}
.darkNav{
    --backgroundColor:    rgba(25, 25, 25, 1);
    --boxShadow:rgba(25, 25, 25, 1);
    --mainOrange:#F18825;
    --textColor:rgba(25, 25, 25, 1);
    --cartColor:rgba(255,255,255,1);
    --searchBackGround:rgba(56, 53, 53, 1);
    --searchText:#B2A7A7;
    --searchInput:#B2A7A7;
    --locationBackGround:#383535;


}

.backgroundImageContainer {  
    position: relative; 
    top: 0px; 
    left: 0;  
    right: 0;  
    bottom: 0;  
    z-index: -1; 
    overflow: hidden; 
}  

.backgroundImage {  
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block; 
}  

.overlayText {  
    position: absolute;   
    top: 70%;   
    left: 30%;   
    transform: translate(-50%, -50%);   
    color: white;   
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);   
    z-index: 1;   
    white-space: nowrap;   

    .breadTitleContainer {  
        display: flex; 
        align-items: center; 
        justify-content: flex-end; 
        margin: 0;

        .breadTypeContainer {  
            padding-left: 15px;
            display: flex;
            align-items: center; 
            margin-right: 5px;
        }  
    }  

    h2 {  
        font-size: 2.5rem;   
        color: rgba(85, 80, 80, 1);   
        animation: fade-in 1s;   
        font-family: "calibri";  
        
        // margin-bottom: 15px;
        text-align: right;   
    }  
    .locationInput {  
        padding: 10px;  
        flex-grow: 1;
        box-sizing: border-box;  

        border:none ;
        border-radius: 20px;
        font-size: 20px;  
        background-color: transparent; 
        color: rgba(241, 136, 37, 1);
        font-family: "calibri";
        text-align: right;
        width: 350px;  
        // margin-top: 5px;
        min-width: 250px; 
        max-width: 100%; 
        direction: rtl;
    
        &:focus {  
            outline: none;  
        }  
    }   
    .locationIcon {  
        color: rgba(241, 136, 37, 1);  
        margin-right: 10px;  
        left :100px;
    }  
    .locationContainer {  
        display: flex;  
        align-items: center;  
        background-color: var(--locationBackGround);   
        border-radius: 20px; 
        padding: 10px; 
        margin-right: 20px; 
        width: 100%; 
        margin-top: 20px;
       
    }  .animation {  
        height: 50px;  
        overflow: hidden;  
      }  
      
      .breadType {  
        padding: 0.25rem 0.25rem;  
        height: 2.81rem;  
        margin-bottom: 75px;  
        display: inline-block;  
        color: rgba(241, 136, 37, 1);
       
        transition: opacity 1s;  
        font-family: "calibri";
        text-align: right;
    
    
      }  
      
      .fadeOut {  
        opacity: 0; 
      }  
     
}  

