@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

.lightLogin {
  --background-color: #fff;
  --text-color: black;
  --second-textcolor: #4C4343;
  --main-orange: #F18825;
  --error-color: red;
  --main-green: #34A853;


}

.darkLogin {
  --background-color: #191919;
  --text-color: #FFFFFF;
  --second-textcolor: #fff;
  --main-orange: #F18825;
  --error-color: red;
  --main-green: #34A853;


}


.dialogTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;

  margin-top: -20px;

}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  img {
    height: 60px;
    width: 115px;
    z-index: 10;
  }
}

.closeButton {
  color: var(--text-color);
  transition: color 0.3s ease;
  margin: 0 auto;
  text-align: left;

  .closeIcon {
    font-size: 1.5rem;
  }
}

.titleContainer {
  text-align: center;
  margin: 5px auto;
  margin-bottom: 30px;
}

.titleContainer h1 {
  font-size: 30px;
  margin: 0;
  display: inline-block;
  position: relative;
  font-family: 'Calibri';
  color: var(--text-color);
  font-weight: bold;
}


.titleContainer .nonBold {
  font-weight: normal;
}


.phoneInput{
  .formGroup {
    position: relative;
    margin-bottom: 20px;
  }

  input {
    padding: 15px 40px 15px 40px;
    border-radius: 15px;
    border: 1px solid var(--second-textcolor);
    height: 10px;
    font-size: 15px;
    font-family: "calibri";
    background-color: var(--background-color);
    color: var(--second-textcolor);
    width: 265px;
    text-align: right;
    outline: none;
    transition: border 200ms;

    &.error {
      border: 1px solid var(--error-color);
      color: var(--error-color);
    }
  }

  label {
    position: absolute;
    font-family: "calibri";
    font-size: 18px;

    left: 220px;
    top: 10px;
    background: var(--background-color);
    color: var(--second-textcolor);

    padding: 0 5px;
    transition: transform 200ms, color 200ms;
    pointer-events: none;

    &.error {
      color: var(--error-color);
    }
  }

  input::placeholder {
    opacity: 0;
  }

  input:focus+label,
  input:not(:placeholder-shown)+label {
    transform: translateY(-20px) scale(0.8);
    color: var(--second-textcolor);

    &.error {
      color: var(--error-color);
    }
  }

  input:focus {
    border: 1px solid var(--second-textcolor);

    &.error {
      color: var(--error-color);
      border: 1px solid var(--error-color);

    }
  }

  .icon {
    position: absolute;
    left: 10px;
    top: 22px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  input:focus+label::after,
  input:not(:placeholder-shown)+label::after {
    content: '*';
    color: var(--error-color);
    margin-right: 5px;
  }
}

.errorMessageLogin {
  color: var(--error-color);
  margin-top: 5px;
  text-align: right;
  margin-right: 5px;
  font-family: "calibri";
}

.dialogActions {
  display: flex;
  justify-content: center;
  width: 100%;

  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 40px;
    width: 100%;
  }

  .dialogActionsButton {
    background-color: var(--main-orange);
    color: white;
    padding: 0.5rem 0;
    width: 79.5%;
    height: 40px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    font-family: "Calibri";
    font-size: 21px;
    font-weight: bold;

    &:hover {
      transform: scale(1.05);
    }


    margin-right: 27px;

    &.disabled {
      background-color: rgba(237, 239, 240);
      color: rgba(168, 171, 178);
      cursor: not-allowed;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.nanziText {
  display: flex;
  font-family: 'Neonderthaw', cursive;
  font-size: 25px;
  color: #B8681D;
  font-weight: 400px;
  line-height: 100%;
  margin: 5px auto;

}

.fullScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;

}

////second page
.titleContainer2 {

  text-align: center;
  font-size: 10px;
  margin: 0 10px;
  font-weight: 400;

  font-family: "Calibri";
}

.underlined {
  text-decoration: underline;
  direction: ltr;
}

.editNumber {
  display: flex;
  align-items: center;
  direction: rtl;
  color: var(--main-green);
  font-family: "Calibri";
  font-size: 15px;
  cursor: pointer;
  margin-right: 14px;

  svg {
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    color: var(--main-green);
    fill: var(--main-green);

    &:hover {
      fill: var(--main-green);
    }
  }

  .MuiSvgIcon-root {
    color: var(--main-green);
    vertical-align: middle;
  }
}
.verificationForm
{
  width: 350px;
   margin: 0 auto; 
}

#verificationForm {
  text-align: center;
  flex-direction: column;
  justify-content: center;


  

  

 
  
}
.errorMessageCode {
  color: var(--error-color);
  margin-top: 10px;
  text-align: right;
  margin-right: 12px;
  font-family: "calibri";



}
.dFlex {
  display: flex;
  justify-content: center;
  margin-bottom: 10 px;
  gap: 20px;
  direction: ltr;

  .formControl {
    width: 30px !important;
    gap: 5px;

    height: 30px !important;
    text-align:  center;
    font-size: 1.25rem;
    font-family: "Calibri";
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 0.4rem;
    margin: 0;

   

}
&.errorVerify {
  border: 1px solid var(--error-color);
  color: var(--error-color);

  &:focus {
    border-color: #ed2d2d;
    box-shadow: 0 0 5px #ed2d2d;
    outline: none;
    // text-align: ;
  }


}

&:focus {
  border-color: var(--second-textcolor);
  box-shadow: 0 0 5px var(--second-textcolor);
  outline: none;
}

direction: ltr;

}
.countdownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  min-height: 15px;

  .flexCenter {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 40px;
  }

  h2 {
    font-size: 15px;
    color: var(--second-textcolor);
    text-align: right;
    font-family: "Calibri";
    position: relative;
  }

  .waitTitle {
    font-size: 15px;

    color: var(--second-textcolor);
    text-align: right;
    margin-right: 5px;
    font-family: "Calibri";
  }

  .resendMessage {
    margin-top: 5px;
    align-items: center;
    text-align: center;
    margin-bottom: 30 px;

    h1 {
      font-size: 13px;
      font-family: "Calibri";
      color: var(--second-textcolor);
    }

    .resend {
      color: var(--main-green);
      font-family: "Calibri";
      font-size: 17px;
      cursor: pointer;
    }
  }
}

.btnPrimary {
  background-color: var(--main-orange);
  border: none;
  width: 100%;
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "calibri";

  margin-top: 0px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.disabled {
    background-color: rgba(237, 239, 240);
    color: rgba(168, 171, 178);
    cursor: not-allowed;

    &:hover {
      transform: scale(1.05);
    }
  }
}

//third page


.editNumber2 {
  display: flex;
  align-items: center;
  direction: rtl;
  color: var(--main-green);
  font-family: "Calibri";
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 0;

  svg {
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    color: var(--main-green);
    fill: var(--main-green);

    &:hover {
      fill: var(--main-green);
    }
  }

  .MuiSvgIcon-root {
    color: var(--main-green);
    vertical-align: middle;
  }
}

.usernameInput{
  margin-top: -35px;
  .formGroup {
    position: relative;
    margin-bottom: 15px;
    // margin-top: -30PX;
  }

  input {
    padding: 15px 40px ;
    border-radius: 15px;
    border: 1px solid var(--second-textcolor);
    height: 10px;
    font-size: 15px;
    font-family: "calibri";
    background-color: var(--background-color);
    color: var(--second-textcolor);
    width: 265px;
    text-align: right;
    outline: none;
    transition: border 200ms;

    &.error {
      border: 1px solid var(--error-color);
      color: var(--error-color);
    }
  }

  label {
    position: absolute;
    font-family: "calibri";
    font-size: 18px;

    left: 250px;
    top: 8px;
    background: var(--background-color);
    color: var(--second-textcolor);

    padding: 0 5px;
    transition: transform 200ms, color 200ms;
    pointer-events: none;

    &.error {
      color: var(--error-color);
    }
  }

  input::placeholder {
    opacity: 0;
  }

  input:focus+label,
  input:not(:placeholder-shown)+label {
    transform: translateY(-20px) scale(0.8);
    color: var(--second-textcolor);

    &.error {
      color: var(--error-color);
    }
  }

  input:focus {
    border: 1px solid var(--second-textcolor);

    &.error {
      color: var(--error-color);
      border: 1px solid var(--error-color);

    }
  }

  .icon {
    position: absolute;
    left: 10px;
    top: 25px;
    // height: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  input:focus+label::after,
  input:not(:placeholder-shown)+label::after {
    content: '*';
    color: var(--error-color);
    margin-right: 5px;
  }
}

.errorMessageLogin {
  color: var(--error-color);
  margin-top: 10px;
  text-align: right;
  margin-right: 5px;
  font-family: "calibri";
}

.dialogActions {
  display: flex;
  justify-content: center;
  width: 100%;

  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 40px;
    width: 100%;
  }
}

.titleContainer3 {

  text-align: right;
  font-size: 10px;
  margin: 0 15px;
  
  font-weight: 200;
  font-family: "Calibri";
  h1{
    margin-bottom: 0;
  }
  h2{
    margin-right: 10px;
    font-size: 20px;
  }
}

.btnPrimary2 {
  background-color: var(--main-orange);
  border: none;
  width: 100%;
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0px;
  font-family: "calibri";

  margin-top: 0px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.disabled {
    background-color: rgba(237, 239, 240);
    color: rgba(168, 171, 178);
    cursor: not-allowed;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.errorMessageSignup {
  font-size: 12px;
  color: var(--error-color);
  margin-top: 5px;
  margin-bottom: 0;
  text-align: right;
  margin-right: 5px;
  font-family: "calibri";
}
.errorMessageTooManyReq {
  font-size: 12px;
  color: var(--error-color);
  margin-top: 10px;
  margin-bottom: 0;
  text-align: right;
  margin-right: 5px;
  font-family: "calibri";
}